body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}


header{
    background-color: black;
    padding: 40px;
    position: relative;
}

.logo-header {
height: 100%;
width: auto;
position: absolute;
left: 0%;
top: 0%;
border-radius: 40px;
}



.container {
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    background-color: #FFFAF1;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button1 {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #FCA311;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-left: 25%;
}

.button1:hover {
    background-color: #FDB949;
}

.texto_ini {
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.texto_ini a {
    color: #4CAF50;
}

.texto_ini a:hover {
    text-decoration: underline;
}

.iconos3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.iconos3 a {
    margin: 0 10px;
}

.iconos3 img {
    width: 40px;
    height: auto;
}

.check{
    text-align: center;
}


.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group1, .form-group2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

















.soporte {
    width: 50px;
    height: 50px;
    right:10px;
    position: absolute;
    bottom: -85%;
}

  footer {
    background-color: black;
    padding: 40px;
    position: absolute;
    color: white;
    height: 1px;
    bottom: -98%;
    width: 100%;

    .pie-pag {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.pie-pag p {
   margin: 0;
   margin-left: 10px;
   font-size: 14px;
}

.redes {
 display: flex;
 margin-top: -15px;
 justify-content: end;
 margin-right: 50px;
}

.facebook, .instagram, .youtube, .TX {
    width: 30px;
    height: auto;
    margin-left: 15px;
}